<div class="row">
  <div class="col-md-6">
  <h2><span class="text-muted">Chat</span></h2>
    <div class="card card-block">
      <div id="chat-messages">
        <%= render @match.chats %>
      </div>
      <div>
        <%= form_for [@match, Chat.new] do |f| %>
          <div class="form-group">
            <%= f.text_area :message, placeholder: "Your message here", autofocus: true, class: "form-control" %>
          </div>
          <div class="form-group">
            <%= f.submit "chat", class: "btn btn-default" %>
          </div>
        <% end %>
      </div>
    </div>
  </div>
  <div class="col-md-6">
  <h2 class="text-center"><span class="text-info"><%= @partner.username %></span></h2>
    <div class="card card-block">
      <p class="card-text"><%= @partner.code_sample %></p>
    </div>
  </div>
</div>

<%= react_component('ChatContainer', {chats_url: match_chats_url(@match), create_chat_url: match_chats_url(@match)} ) %>
