<!DOCTYPE html>
<html>
<head>
  <title>CasualPairing</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>

<div class="container" id="content">
  <%= render partial: "shared/topnav" %>
  <% if notice %>
    <div class="temp alert alert-info alert-dismissable flash fade-in">
      <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
      <%= notice %>
    </div>
  <% end %>

  <% if alert %>
    <div class="temp alert alert-warning alert-dismissable flash fade-in">
      <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
      <%= alert %>
    </div>
  <% end %>

  <div class="row">
    <%= yield %>
  </div>
</div>

</body>
</html>
